body {
    background-color: gray;
}

.Title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Title img {
    border: 2px solid rgb(0, 255, 21);
    border-radius: 70px;
}

.InitialText {
    top: 40%;
    position: absolute;
}

.PrimeirosRecursos {
    top: 100%;
    position: absolute;
}

.proximoPasso {
    top: 250%;
    left: 10%;
    position: absolute;
    font-size: 50px;
}

.subTittle {
    position: absolute;
    left: 70%;
}

.InitialText2 {
    top: 40%;
    position: absolute;
}

.STITTLENAMECODEDATA672 {
    position: relative;
    top: 0%;
    left: 94%;
}

.EDIVgr676SEACODENAME453 {
    position: absolute;
    top: 60%;
}

.IDIV3444565NextNAMECODEDATA1234553 {
    top: 230%;
    position: absolute;
}

